<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
<header>
    <span class="masthead">{{siteTitle}}</span>
    <nav>
        <ul>
            {{#menuItems}}
            <li>
                <a href="{{url}}">{{text}}</a>
            </li>
            {{/menuItems}}
        </ul>
    </nav>
</header>
<main>
    {{{bodyHtml}}}
</main>
<footer>
    <nav>
        <ul>
            {{#menuItems}}
            <li>
                <a href="{{url}}">{{text}}</a>
            </li>
            {{/menuItems}}
        </ul>
    </nav>
</footer>
</body>
</html>